#cart-table {
    margin-top: 6.25rem;
    margin-bottom: 4.375rem;
}

.cart-table-image {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

#cart-total {
    margin-top: 3.125rem;
    margin-bottom: 4.375rem;
}

.cart-total-div {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}