#food-item-grid {
    margin-top: 6.25rem;
    margin-bottom: 4.375rem;
}

#main-menu-icons {
    margin-top: 6.25rem;
}

.main-menu-icon-size {
    max-width: 4.375rem;
    height: auto;
    margin-bottom: 5px;
}