#explore-menu {
    margin-bottom: 70px;
}

#explore-menu>h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.75em;
    color: #E3000E;
}

#explore-menu>p {
    font-family: 'Roboto', sans-serif;
    padding: 0 20%;
}

.card-menu-title {
    font-family: 'Oswald', sans-serif;
    color: #642F21;
}

.card-menu-body:hover .card-menu-button2 {
    display: block;
}

.card-menu-body:hover .card-menu-image {
    transform: scale(1.2);
}

.card-menu-image {
    transition: all 800ms;
}

.heart-icon:hover {
    transition: all 1s;
    color: #E3000E;
}

.card-menu-button1 {
    font-family: 'Oswald', sans-serif;
    background-color: #642F21;
    color: #F7BE27;
    font-weight: 600;
}

.card-menu-button2 {
    font-family: 'Oswald', sans-serif;
    display: none;
}