#contact-us-grid {
    margin-top: 100px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}

.contact-us-card-background {
    width: 4rem;
    height: 4rem;
    background-color: #F2F2F2;
    border-radius: 50%;
}

#leave-message {
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
}

#leave-message h5 {
    font-family: 'Oswald', sans-serif;
    color: #642F21;
    font-size: 3.125rem;
}