#contact-us-grid {
    margin-top: 6.25rem;
}

.contact-us-card-background {
    width: 4rem;
    height: 4rem;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leave-message h5 {
    color: #642F21;
    font-weight: 500;
    font-size: 3.125rem;
    margin-bottom: 2rem;
}