#contact-us-grid {
    margin-top: 6.25rem;
    margin-bottom: 4.375rem;
    font-family: 'Roboto', sans-serif;
}

.contact-us-card-background {
    width: 4rem;
    height: 4rem;
    background-color: #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leave-message {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4.375rem;
}

#leave-message h5 {
    font-family: 'Oswald', sans-serif;
    color: #642F21;
    font-size: 3.125rem;
    padding: 1.5rem 0;
}