#myAccountBanner {
    margin-bottom: 70px;
    max-width: 100vw;
    background-position: center;
    background-size: cover;
    height: 410px;
}

#myAccountBanner h5 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 22rem;
}

#userInfo {
    margin-top: 100px;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
}