#outlined-basic {
    font-family: "Roboto", sans-serif;
}

.google-icon {
    margin: 1rem;
    font-size: 2rem;
    color: #525252;
    cursor: pointer;
}

.google-icon:hover {
    color: #DB4437;
}

.twitter-icon {
    margin: 1rem;
    font-size: 2rem;
    color: #525252;
    cursor: pointer;
}

.twitter-icon:hover {
    color: #1DA1F2;
}

.github-icon {
    margin: 1rem;
    font-size: 2rem;
    color: #525252;
    cursor: pointer;
}

.github-icon:hover {
    color: #40DFEF;
}