#terms-and-privacy-document {    
    padding: 5rem 15% 0 15%;
}

#terms-and-privacy-document h5 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #642F21;
    margin-bottom: 0;
}

#terms-and-privacy-document p {
    font-family: 'Roboto', sans-serif;    
    font-weight: 300;
    color: gray;
    line-height: 1.6;
}