#image-gallery {
    margin-top: 6.25rem;
    margin-bottom: 4.375rem;
}

.card-hover {    
    width: 100%;
    height: 100%;
    display: none;
}

.image-gallery-transform {
    transition: all 1s;
}

.image-gallery-card:hover .card-hover {
    display: block;
}

.image-gallery-card:hover .image-gallery-transform {
    transform: scale(1.2);
    filter: brightness(40%);
}