#banner-style {
    position: relative;
}

.banner-slide {
    width: 100%;
}

.banner-slide img {
    display: block;
    width: 100%;
}

.banner-text {
    position: absolute;
    text-align: center;
    top: 30%;
    right: 20%;
    left: 20%;
    bottom: 5%;
    color: whitesmoke;
}

.banner-text h5 {
    font-family: 'Lilita One', cursive;
    line-height: 1.1;
    letter-spacing: 3px;
}

.banner-text-highlighted {
    color: #FFC107;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}