.navFont {
    color: rgba(255, 255, 255, 0.7);
}

.navFont:hover {
    color: white;
}

.navbarFonts {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.navbarFonts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigationBar {
    position: absolute;
    z-index: 10;
    width: 100%; /*I had to apply width 100% here manually. Why?*/
}

.brandLogo {
    max-width: 120px;
    max-height: 100px;
}

.shoppingCart-icon {
    color: white;
    cursor: pointer;
}

.shoppingCart-icon:hover {
    color: rgb(253, 190, 8);
}