.swiper {
    width: 100%;
    height: 100%;
}

#reviewDiv {
    height: 27rem;
}
  
.swiper-slide {
    text-align: center;
    font-size: 1.13rem;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2.5rem 3.75rem;
}
  
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
  
.swiper-slide .title {
    text-align: center;
}
  
.swiper-slide .subtitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-top: 1.25rem;
}

.review-image {
    max-width: 9.375rem;
    border-radius: 50%;
}