#intro {
    margin-top: 6.25rem;    
}

.intro-font h5 {    
    font-weight: 500;
    font-size: 3.25rem;
    color: #642F21;
    line-height: 1.35;
    margin: 0;
}

.intro-font>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;
}

.intro-icon-size {
    max-width: 4.375rem;
    height: auto;
}

.intro-icon-font {    
    font-weight: 500;
    font-size: 1.125rem;
    color: #642F21;
}

.text-inside-image {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 2rem;
    color: #6F5E4D;
    line-height: 1;
}