#intro {
    margin-top: 100px;
    margin-bottom: 70px;
}

.intro-font h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 52px;
    color: #642F21;
    line-height: 1.35;
}

.intro-font>p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.intro-icon-size {
    max-width: 70px;
    height: auto;
}

.intro-icon-font {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #642F21;
    padding-top: 10px;
}

.text-inside-image {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #6F5E4D;
    line-height: 1;
}