#questions {
    padding-top: 6.25rem;
}

#questions h5 {    
    color: #642F21;
    padding: 4% 0;
    font-weight: 500;
}

#questions p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: gray;
}