#questions {
    margin-top: 6.25rem;
}

#questions p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: gray;
    line-height: 1.5;
}

.questions-font {
    color: #642F21;
    font-weight: 500;
}