#best-offers {
    margin-top: 100px;
    margin-bottom: 70px;
}

#best-offers>h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.75em;
    color: #E3000E;
}

#best-offers>p {
    font-family: 'Roboto', sans-serif;
    padding: 0 20%;
}

.price-tag {
    font-family: 'Oswald', sans-serif;
    color: #E3000E;
}

.offer-card-body:hover .offer-hover-image {
    transform: scale(1.2);
}

.offer-card-body:hover .offer-hover-button {
    display: block;
}

.offer-hover-button {
    font-family: 'Oswald', sans-serif;
    display: none;
}

.offer-hover-image {
    transition: all 800ms;
}